@charset "UTF-8";

body{
    background-color: rgb(40, 119, 229);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.37);
    margin: auto;
    width: 500px;
}

img{
    height: 250px;
    width: 250px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;

}