@charset "UTF-8";

body{
    background-color: rgb(40, 119, 229);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.37);
    margin: auto;
    width: 500px;
    line-height: 10px;
}

div{
    display: flex;
    flex-direction: column;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;

}

#result{
    margin-top: 10px;
    font-size: 16px;
    line-height: 20px;
}

#start, #step, #end{
    border-radius: 10px;
    width: 100px;
}

#botao{
    border-radius: 10px;
    margin-top: 20px;
    width: 80px;
    cursor: pointer;
}